.content
	.container
		.content__blocks
			.content__block.itemblock
				a.itemblock__main(href="#")
					p.itemblock__text Седьмой этап Longines Global Champions Tour и Global Champions League из французских Канн переместился в Монако. На Лазурный берег княжества прибудут лучшие всадники планеты, чтобы сразиться в командных и
					.itemblock__imgblock
						img.itemblock__image(src="upload/content-1.jpg" width="295" height="342")
				.itemblock__sideblock
					.itemblock__sidetop(href="#")
						.itemblock__sideinfo
							p.itemblock__sidetext Топ-5 самых точных сайтов прогноза погоды
							span.itemblock__source Источник: 
							a.itemblock__link(href="#")|http://basetop.ru/finansyi/ © Топ Рейтинги
						.itemblock__sideimage
							img.itemblock__sideimg(src="upload/side-1.jpg" width="277" height="167")
					.itemblock__sidebottom(href="#")
						.itemblock__sideinfo
							p.itemblock__sidetext 7 полезных изобретений, которым не дали хода 
							span.itemblock__source Источник: 
							a.itemblock__link(href="#")|http://basetop.ru/finan
						.itemblock__sideimage
							img.itemblock__sideimg(src="upload/side-2.jpg" width="277" height="167")

			.content__block.itemblock
				a.itemblock__main(href="#")
					p.itemblock__text Седьмой этап Longines Global Champions Tour и Global Champions League из французских Канн переместился в Монако. На Лазурный берег княжества прибудут лучшие всадники планеты, чтобы сразиться в командных и
					.itemblock__imgblock
						img.itemblock__image(src="upload/content-1.jpg" width="295" height="342")
				.itemblock__sideblock
					.itemblock__sidetop(href="#")
						.itemblock__sideinfo
							p.itemblock__sidetext Топ-5 самых точных сайтов прогноза погоды
							span.itemblock__source Источник: 
							a.itemblock__link(href="#")|http://basetop.ru/finansyi/ © Топ Рейтинги
						.itemblock__sideimage
							img.itemblock__sideimg(src="upload/side-3.jpg" width="277" height="167")
					.itemblock__sidebottom(href="#")
						.itemblock__sideinfo
							p.itemblock__sidetext 7 полезных изобретений, которым не дали хода 
							span.itemblock__source Источник: 
							a.itemblock__link(href="#")|http://basetop.ru/finan
						.itemblock__sideimage
							img.itemblock__sideimg(src="upload/side-4.jpg" width="277" height="167")

			.content__block.itemblock
				a.itemblock__main(href="#")
					p.itemblock__text Седьмой этап Longines Global Champions Tour и Global Champions League из французских Канн переместился в Монако. На Лазурный берег княжества прибудут лучшие всадники планеты, чтобы сразиться в командных и
					.itemblock__imgblock
						img.itemblock__image(src="upload/content-3.jpg" width="295" height="342")
				.itemblock__sideblock
					.itemblock__sidetop(href="#")
						.itemblock__sideinfo
							p.itemblock__sidetext Топ-5 самых точных сайтов прогноза погоды
							span.itemblock__source Источник: 
							a.itemblock__link(href="#")|http://basetop.ru/finansyi/ © Топ Рейтинги
						.itemblock__sideimage
							img.itemblock__sideimg(src="upload/side-5.jpg" width="277" height="167")
					.itemblock__sidebottom(href="#")
						.itemblock__sideinfo
							p.itemblock__sidetext 7 полезных изобретений, которым не дали хода 
							span.itemblock__source Источник: 
							a.itemblock__link(href="#")|http://basetop.ru/finan
						.itemblock__sideimage
							img.itemblock__sideimg(src="upload/side-6.jpg" width="277" height="167")
		.content__info
			p.content__infotext В австрийском городке Треффен, в Глок Хорс Перфоманс Центре начались престижные турниры пятизвездочного уровня. Лучшие всадники из 19 стран мира, а также 220 лошадей примут участие в соревнованиях различных категорий и степеней сложности. Призовой фонд составит 601 000 евро.
			.content__infoimage
				img.content__infoimg(src="upload/info.jpg" width="465" height="435")


