meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title Main page
link(rel="stylesheet" href="vendor/slicknav/slicknav.min.css")
link(rel="stylesheet", href="vendor/slick-slider/slick.css")
link(rel="stylesheet", href="css/style.css")
link(href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow" rel="stylesheet")
