.newsblock
	.newsblock__bg
	.container
		.newsblock__news.news-block
			.news-block__block
				a(href="#").news-block__text Италия во второй раз одержала победу в этапе Кубка Наций.
				.news-block__img
					img.news-block__image(src="upload/news-1.jpg" width="360" height="195")
			.news-block__block
				a(href="#").news-block__text Италия во второй раз одержала победу в этапе Кубка Наций.
				.news-block__img
					img.news-block__image(src="upload/news-2.jpg" width="360" height="195")
			.news-block__block
				a(href="#").news-block__text Италия во второй раз одержала победу в этапе Кубка Наций.
				.news-block__img
					img.news-block__image(src="upload/news-3.jpg" width="360" height="195")
