.promo
	.promo__parallax
	.container
		h2.promo__title Княжество Монако принимает седьмой этап LGCT и GCT
		h2.promo__text Княжество Монако принимает седьмой этап LGCT и GCT
		.promo__btn
			button.promo__button Начать обучение