.slider
	.slider__item
		.container
			.slider__overlay
				p.slider__overtext Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, accusamus porro natus autem cum? Veritatis itaque, quas laudantium ipsam eveniet
		img.slider__img(src="upload/slider.jpg" width="1366" height="768")
	.slider__item
		.container
			.slider__overlay
				p.slider__overtext  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus omnis molestias, quibusdam quam harum alias, doloremque placeat. Perferendis, in, labore
		img.slider__img(src="upload/slider.jpg" width="1366" height="768")
	.slider__item
		.container
			.slider__overlay
				p.slider__overtext  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, vero architecto debitis eveniet magnam corporis sapiente, asperiores iusto nobis voluptatem
		img.slider__img(src="upload/slider.jpg" width="1366" height="768")
	.slider__item
		.container
			.slider__overlay
				p.slider__overtext  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta error necessitatibus aperiam blanditiis perferendis nostrum veritatis totam est officia magni
		img.slider__img(src="upload/slider.jpg" width="1366" height="768")