.videoblock
	.container
		.videoblock__video
			img.videoblock__image(src="upload/videoblock.jpg" width="655" height="465")
			p.videoblock__text Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti, sint assumenda. Pariatur iste veritatis excepturi, ipsa optio nobis
		.videoblock__partners
			a.videoblock__partner(href="#")
				img.videoblock__partnerlogo(src="img/fei.png" width="156" height="48")
			a.videoblock__partner(href="#")
				img.videoblock__partnerlogo(src="img/fei.png" width="156" height="48")
			a.videoblock__partner(href="#")
				img.videoblock__partnerlogo(src="img/fei.png" width="156" height="48")
			a.videoblock__partner(href="#")
				img.videoblock__partnerlogo(src="img/fei.png" width="156" height="48")
			a.videoblock__partner(href="#")
				img.videoblock__partnerlogo(src="img/fei.png" width="156" height="48")